**/build
**/target

**/.DS_Store
**/package-lock.json

backend/uploads/*
backend/react-app

/docs

/frontend/junit.xml
.vscode/*

/pythonBackend/env/*
*.egg-info/
__pycache__/
.idea/
myproject.bundle
.venv
__pycache__

.venv