#header {
    /*background-color: #067;*/
    height: 10%;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-spacer {
    width: 25%;
}
.HeaderIcon, .HeaderText {
    /*color: navajowhite;*/
    color: #727272;
    font-size: 2rem;
}

.HeaderIcon {
    transform: scale(2);
}

#home-logo {
    margin-left: 4rem;
}

#account-logo {
    margin-right: 4rem;
}

h1 {
    letter-spacing: 6px;
}