.Header {
    /*background-color: rgba(0, 50, 40, 0.9);*/
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    /*position: absolute;*/
    /*padding-top: 40px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*position: fixed;*/    /* Did not have intended behaviour */
}

 .Header.on-start-page {
     position: absolute;
     padding-top: 40px;
     animation: grow-header 0.3s ease-out;
 }

 .Header.shrink-animation {
     animation: grow-header 0.3s ease-out reverse;
 }

 /*.Header .not-on-start-page {*/
 /*    height: 60px;  !*Added afterwards to what it turned out to be (actually 59.2px) with items/padding so that spacer can be same height*!*/
 /*}*/

 /*.HeaderSpacerDummy {*/
 /*    width: 100%;*/
 /*    height: 60px;*/
 /*}*/

/*.HeaderSpacerDummy .on-start-page {*/
/*    display: none;*/
/*}*/

 @keyframes grow-header {
     0% {
         padding-top: 0px;
         margin-bottom: 0px;
     }
     100% {
         padding-top: 40px;
         margin-bottom: -40px;
     }
 }

#header-spacer {
    width: 25%;
}

.HeaderIcon, .HeaderText {
    /*color: navajowhite;*/
    color: #727272;
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    z-index: 2;
}

.HeaderLinkWrapper {
    z-index: 2;
}

.HeaderIcon {
    transform: scale(2);
}

.HeaderText {
    letter-spacing: 6px;
    text-decoration: none;
    font-weight: bold;
}

#home-logo {
    margin-left: 4rem;
}

#account-logo {
    margin-right: 4rem;
}
