:root {
  --main-text-color: #f5edf0;
  --main-bg: #1b1f22;
  --secondary-bg: #424b54;
  --accent: #83b692;
}

.video-player {
  position: relative;
  width: 100%;
}
.controls {
  display: block;
  width: 100%;
  background-color: var(--secondary-bg);
  padding: 1rem 1rem;
  color: var(--main-text-color);
}

.controls span {
  text-align: center;
}

#buttons-container {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

#tools-container {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

#canvas-container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "canvas sidebar";
  height: 100%;
}

.icon-button {
  cursor: pointer;
  height: 100%;
  width: auto;
  background-color: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin-right: 0.3rem;
}

.icon-button:hover .icon {
  fill: rgb(255, 255, 255);
}

.icon {
  height: 100%;
  width: auto;
  fill: rgb(220, 220, 220);
}

.zoom-text-button {
  cursor: pointer;
  height: auto;
  background-color: transparent;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  border-radius: 3px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

#frame-number-display {
  width: 7rem;
}

#timestamp-display {
  margin-left: 0.3rem;
}

.canvas {
  grid-area: canvas;
  height: 100%;
}

.TrackList {
  position: relative;
  grid-area: sidebar;
  width: 100%;
}

.TrackListTabs {
  border-width: 0px 0px 3px 8px;
  border-style: solid;
  border-color: var(--main-bg);
  height: 73px;
}

.TrackListTabs Button {
  /*selects all elements of type Button inside element with class TrackListTabs*/
  height: 100%;
  width: 33.33%;
  /*border-radius: 40px 40px 0 0;*/
  border-radius: 0;
  background-color: var(--main-bg);
  color: var(--main-text-color);
}

.TrackListTabs .active {
  background-color: var(--accent);
}

.TrackListTabs:hover {
  background-color: var(--secondary-bg);
}

/* so that active button appears not clickable, also otherwise it only turns dark grey (~ looks active) after mouse is gone */
.TrackListTabs .active:hover {
  background-color: var(--secondary-bg);
}

.TrackListList {
  height: 91%; /* if adding TrackListControls, subtract TrackListControls.height from this height */
  overflow: auto; /* Scrollbar appears when content is too big for div */
  background-color: rgba(0, 0, 0, 0.7);
  max-height: 728px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TrackListList::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.TrackListList > .inactive {
  display: none;
}

.TrackListList p {
  margin: 0px;
}

/*.TrackListControls {*/
/*    height: 100px;*/
/*    background-color: #BBB;*/
/*}*/

.TrackListItem {
  border-style: none none solid solid;
  border-width: 0px 0px 3px 8px;
  background-color: #bbc3c9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.TrackListItemSwapOverlay {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--main-text-color);
  z-index: 1;
  transition: width 0.3s ease-out;
}

.TrackListItemSwapOverlay.expanded {
  width: 100%;
}

.TrackListItemSwapOverlayContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

  /* so that nothing wraps during slide out animation: */
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.TrackListItemSwapOverlayContentText {
  font-size: large;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.TrackListItemSwapOverlayContentDropdown {
  width: 8em;
  margin-right: 1.5em;
}

.TrackListItemSwapOverlayContentButton {
  margin-left: 0.5em !important;
}

/*.TrackListItemSwapOverlay.unexpanded {*/
/*    width: 0%;*/
/*}*/

.hide {
  display: none;
}

/* Font weight is working but not the rest? not even display: none ?? probably has something to do with react-edit-text package,
for now just using style property of EditText component in JS code*/
.TrackListItemName {
  /*font-weight: lighter;*/
  margin-top: 0;
  margin-bottom: 0;
}

.TrackListItemBlink {
  height: 75%;
  background-color: inherit;
  border-width: 3px;
  margin-right: 10px;
  border-radius: 5px;
}

.TrackListItemBlink:focus {
  outline: none;
}

.TrackListItemTeamDropdown {
  width: 200px;
}

.selected {
  background-color: var(--accent);
  /*color: white !important;  this would change the color (effects for example ID and border) */
}

.selected.expanded {
  /* prevents selected item to change color so that only changes color by sliding animation of SwapOverlay */
  background-color: var(--accent);
}

.staticText {
  font-size: small;
  color: black;
  opacity: 0.8;
}
.video-player {
  position: relative;
  width: 100%;
}

#buttons-container {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.icon-button {
  cursor: pointer;
  height: 100%;
  width: auto;
  background-color: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin-right: 0.3rem;
}

.icon-button:hover .icon {
  fill: rgb(255, 255, 255);
}

.icon {
  height: 100%;
  width: auto;
  fill: rgb(220, 220, 220);
}

.tooltip {
  position: absolute;
  bottom: 230%;
  right: -250%;
  transform: translateX(-50%);
  background-color: var(--secondary-bg);
  color: var(--main-text-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  white-space: nowrap;
}

.tooltip.visible {
  opacity: 1;
  visibility: visible;
}

.tooltip-content {
  font-size: 0.85rem;
  text-align: left;
}

.tooltip::after {
  content: none;
}

.tooltip-content input {
  margin-left: 0.5rem;
  width: 3rem;
  text-align: center;
}

.binding {
  border: 2px solid var(--accent);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    border-color: var(--accent);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--accent);
  }
}

.key-binding-box {
  padding: 0.5rem;
  margin: 0.25rem 0;
  border: 1px solid var(--secondary-bg);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.key-binding-box:hover {
  background-color: var(--accent);
  color: white;
}

.key-binding-box.binding {
  border: 2px solid var(--accent);
  font-weight: bold;
}

#frame-number-display {
  width: 7rem;
}

#timestamp-display {
  margin-left: 0.3rem;
}

.tests {
  display: none;
}
