* {
    box-sizing: border-box;
}

html, body {
    /*font-family: 'Oswald', sans-serif;*/
    background-color: #dcdcdc;
    height: 100%;
}

.App {
    height: 100%;
}

.full-page {
    height: 100%;
}

.turn-light-gray-on-hover:hover {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

/*START PAGE*/

/*TODO figure out why this version with having the font in the local fonts folder is not working*/
/*@font-face {*/
/*    font-family: "Big Shoulder Stencil Display";*/
/*    src: local("./fonts/Big_Shoulders_Stencil_Display/BigShouldersStencilDisplay-Black.ttf");*/
/*}*/

.Start {
    background-image: url("./pictures/dark_football_field.jpg");
    background-size: cover;
}

.StartBody {
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: 60%;*/
    margin: auto;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.StartHeading {
    font-family: 'Big Shoulders Stencil Display', Roboto, cursive;
    color: #727272;
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 9rem;
    letter-spacing: 8px;
}

.StartButtonContainer {
    position: absolute;
    top: 65%;
    width: 60em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
}

.StartButton {
    cursor: pointer; /* not sure why this does not happen automatically, it does for links in header? */
    height: 2em;
    font-size: 3em;
    font-weight: bold;
    color: #727272;
    background-color: transparent;
    margin: 0.4vw;
    padding: 0 2rem 0 1.5rem;
    border: 7px solid #727272;
    border-radius: 10% 30% 10% 30%;
    transition: 0.7s;
}

.StartButton:hover {
    top: -50px;
    font-size: 3.5em;
}

