:root {
  --main-text-color: #f5edf0;
  --main-bg: #1b1f22;
  --secondary-bg: #424b54;
  --accent: #83b692;
}

.spacer1 {
  margin-right: 1.4em;
}

.spacer2 {
  margin-right: 2.5em;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message-container {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.error-message {
  color: #fff;
  background-color: #db3d44;
  border-radius: 4px;
}

.info-message {
  color: #fff;
  background-color: #31708f;
  border-radius: 4px;
}

.message-icon {
  margin-right: 10px;
}

.FileOverview {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg);
}

.FileOverviewHeadingContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.FileOverviewAddButtonContainer.expanded {
  /*animation: grow-upload 1s;*/
  /*animation-fill-mode: both;*/
  width: 386px;
}

.FileOverviewAddButtonContainer.unexpanded {
  /*animation: grow-upload 1s reverse;*/
  /*animation-fill-mode: both;*/
  width: 48px;
}

.PlusIcon {
  transition: transform 0.3s ease-in;
}
.PlusIcon.expanded {
  transform: rotate(45deg);
}

.PlusIcon.unexpanded {
}

.FileOverviewAddButton {
  float: right;
}

.FileInput {
  margin-left: 8px;
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*transition: display;*/
  /*transition-delay: 2s;*/
}

.FileInput.expanded {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*animation: appear 1s;*/
}

.FileOverviewHeading {
  color: #bbbbbb;
  text-shadow:
    3px 3px 10px rgba(0, 0, 0, 0.4),
    -3px -3px 10px rgba(0, 0, 0, 0.1);
  /*, 0 6px 20px rgba(0, 0, 0, 0.19);*/
  margin: 0;
  font-size: 3em;
  font-family: "Big Shoulders Stencil Display", Roboto, cursive;
  letter-spacing: 5px;
  margin-bottom: 2em;
}

.FileOverviewList {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FileOverviewListItem {
  /* height is set in js according to thumbnail size */
  background-color: var(--main-text-color);
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*var(--my-box-shadow);*/
}

.FileOverviewListItemThumbnail {
  /*margin: 5px;*/ /*GRASS BACKGROUND: Comment this in (and adjust the height of FileOverviewListItem accordingly (make it taller by 2x this margin, that needs to be done in js file) */
}

.FileOverviewListItemContainerLeft {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 70%;
}

.FileOverviewListItemMetadata {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 1em;
  width: 100%;
}

.FileOverviewListItemMetadataName {
  font-weight: bold;
  font-size: 1.3em;
  overflow: hidden;
  padding-top: 2px;
}

.AlignWithMetaDataName {
  margin-left: 5px;
}
.FileOverviewListItemMetadataDuration {
}

.FileOverviewListItemMetadataNotes {
  display: flex;
  width: 100%;
}

.NotesEditTextarea {
  width: 100%;
}

.FileOverviewListItemButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5em;
}

.FileOverviewListItemButton {
  background-color: #344911 !important;
  color: var(--main-text-color) !important;
  border-radius: 50% !important;
  margin: 3px !important;
}

.hide {
  display: none;
}

input[type="file"] {
  display: none;
}

.FileButton{
  background-color: var(--main-text-color);
  margin-left: 1em;
  border: 3px solid #ccc;
  border-radius: 20px;
  color: var(--main-bg);
  font-weight: bold;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.FileButton:hover {
  background-color: var(--secondary-bg);
  color: var(--main-text-color);
}

.selected-files-list {
  background-color: var(--main-text-color);
  border: 1px solid var(--main-bg);
  border-radius: 12px;
  padding: 1em;
  box-shadow: 0px 0px 25px 3px rgba(27, 31, 34, 0.3);
  color: var(--main-bg);
}

.selected-files-list > div {
  font-size: 1.8em;
  font-weight: bold;
}

.selected-files-list > ul {
  padding: 0;
  margin-top: 1em;

  font-size: 1.2em;
  list-style-type: none;
}

.selected-files-list > ul > li {
  background-color: rgba(85, 85, 85, 0.1);
  margin-bottom: 8px;
  padding: 0.5em;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.FormRow{
  margin-bottom: 5px;
  margin-top:  5px;
}

.selected-files-list > ul > li > button {
  color: #db3d44;
}
